<div class="a">
  <h2>this is component a</h2>
  <label>
    this text will go to component b
    <input type="text" #ainput (input)="setAData(ainput.value)">
  </label>
  <app-b (bdata)="bDataUpdated($event)" [adata]="adata"></app-b>
  <span>I got this from component b {{bdata}}</span>
</div>
