<div class="b">
  <h2>this is component b</h2>
  <label>
    this text will go to component a
    <input type="text" #binput (input)="setBData(binput.value)">
  </label>
  <br />
  <span>I got this from component a {{adata}}</span>
</div>
